	body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
#root {
	width: 100%;
	height: 200px;
	overflow-y: auto;
	position: absolute;
	padding-top: 30px;	
}
table.meetResults {
	width: 100%;
	border-spacing: 0;
	font-size: small;
}

table.meetResults td {
	padding: 0px 6px;
	height: 32px;
	margin: 5px;
	border: 1px solid gray;
}

table.meetEventResults {
	width: 100%;
	border-spacing: 5px;
	font-size: small;
}
tr.altRow {
	background-color: white;
}

table.meetResults th {
	text-align: left;
}

table.meetResults td.resultsHeader {
	background-color: lightblue;
	font-size: 1.2em;
	padding: 5px;
}

td.col20pc {
	width: 20%;
}
td.col10pc {
	width: 10%;
}
td.col15pc {
	width: 15%;
}
td.col70pc {
	width: 70%;
}
td.col30pc {
	width: 70%;
}
td.col5pc {
	width: 5%;
}

input.scoreInput {
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	position: relative;
	font-size: 16px;
}

.stretch {
	width: 100%;
}

.clickable:hover {
	font-weight: bold;
	cursor: pointer;
}

.navLink {
	cursor: pointer;
}

.dlgRow {
	margin: 10px;
	width: 100%;
}
.dlgRowLeft {
	width: 50%;
	float: left;
}
.dlgRowRight {
	width: 40%;
	margin-left: 50%;
    text-align: right;
}
.scoreCell {
	padding: 0px 4px;
}
.optScore:after {
	content: ' *';
}
.compScore {
	
}

div.tabs-nested > .ui-tabs-panel { 
    padding: 0em; 
} 
div.nested-left { 
    position: relative; 
    padding-left: 8em; 
    height: 30em;
} 
div.nested-left .ui-tabs-nav { 
    position: absolute; 
    left: 0.25em; 
    top: 0.25em; 
    bottom: 0.25em; 
    width: 8em; 
    padding: 0.2em 0 0.2em 0.2em; 
} 
div.nested-left .ui-tabs-nav li { 
    right: 1px; 
    width: 100%; 
    border-right: none; 
    border-bottom-width: 1px !important; 
    -moz-border-radius: 4px 0px 0px 4px; 
    -webkit-border-radius: 4px 0px 0px 4px; 
    border-radius: 4px 0px 0px 4px; 
    overflow: hidden; 
} 
div.nested-left .ui-tabs-nav li.ui-tabs-selected, 
div.nested-left .ui-tabs-nav li.ui-state-active { 
    border-right: 1px solid transparent; 
} 
div.nested-left .ui-tabs-nav li a { 
    float: right; 
    width: 100%; 
    text-align: left; 
} 
div.nested-left > div { 
    height: 30em; 
    overflow: auto; 
    position: relative;
    left: 8em;
    margin-right: 8em;
}

#loadingMessage {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}
.competitorRow:hover {
	background-color: #eeeeee;
}
#teams, #homeTeams {
	width: 100%;
}
button.configBtn {
	width: 100%;
}
textarea.fillWidth {
	width: 100%;
	box-sizing: border-box;
}
@media print {
	tr.breakBefore { display: block; page-break-before: always; vertical-align: top;}
}
.header-background {
    background-color: rgb(69, 158, 0);
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;	
}
.fixed-table-container-inner {
	overflow-x: hidden;
    overflow-y: auto;
    height: 100%;	
}
.th-inner {
	position: absolute;
    top: 0;
    line-height: 30px;
    text-align: left;
    color: white;
    padding-left: 5px;
    margin-left: -5px;
}
